<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h1>
        WT Task Project
    </h1>
      <hr/>

      <h3>Students (<a href = "{{ url_for('add_student_details') }}">Add Student
         </a>)</h3>
        <p>For assignning Asignment to students click on student name </p>
      <table>
         <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>City</th>
                <th>Address</th>
            </tr>
         </thead>

         <tbody>
            {% for student in students %}
               <tr>
                  <td><a href="{{ url_for('Update_Student', id=student.id)}}">{{ student.name }}</a></td>
                  <td>{{ student.age }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.city }}</td>
                    <td>{{ student.address }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>